<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>NXT Welcome</title>
		<style type="text/css">
		
		body{
			margin: 0;
			padding: 0;
			overflow: hidden;
			height: 100%; 
			max-height: 100%; 
			font-family:Sans-serif;
			line-height: 1.5em;
		}
		
		#nav{
			position: absolute;
			top: 0;
			bottom: 0; 
			left: 0;
			width: 200px; /* Width of navigation frame */
			height: 100%;
			overflow: hidden; /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
			background: #eee;
		}
		
		main{
			position: fixed;
			top: 0; 
			left: 210px; /* Set this to the width of the navigation frame */
			right: 0;
			bottom: 0;
			overflow: auto; 
			background: #fff;
		}
		
		.innertube{
			margin: 10px; /* Provides padding for the content */
		}
		
		p {
			color: #555;
		}

		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		nav ul a {
			color: darkgreen;
			text-decoration: none;
		}
				
		/*IE6 fix*/
		* html body{
			padding: 0 0 0 230px; /* Set the last value to the width of the navigation frame */
		}
		
		* html main{ 
			height: 100%; 
			width: 100%; 
		}
		
		</style>
		
		<script type="text/javascript">
			var bodyText=["Remember, you are unique, just like everybody else.", 
				"<h3>Simple Authorize</h3><p>Amazed by Nextensio Authorization (powered by Okta)</p>",
                "<h3>Simple Connect</h3><p>Experienced Nextensio Secure Connector (powered by socket.io)</p>",
                "<h3>Dashboard</h3><p>Dazzled by Nextensio Single Plane of Glass (powered by Grafana)</p>"];
			function generateText() {
                document.write(bodyText[0]);
                document.write(bodyText[1]);
				document.write(bodyText[2]);
				document.write(bodyText[3]);
			}
		</script>	
	
	</head>
	
	<body>		
				
		<main>
			<div class="innertube">
				
				<h1>Welcome to Nextensio Cloud Services</h1>
				<p><script>generateText()</script></p>
				
			</div>
		</main>
	
		<nav id="nav">
			<div class="innertube">
			
			<h3>Services</h3>
			<ul>
				<li><a href="http://localhost:8081/register">Register (protected)</a></li>
				<li><a href="http://localhost:8081/about">About (protected)</a></li>
				<li><a href="/connect">WS Connect</a></li>
				<li><a href="http://localhost:8081/dashboard">Dashboard</a></li>
			</ul>
			</div>
		</nav>
	
	</body>
</html>