<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NXT Connector</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/nxt_connect.js"></script>
    </head>
    <body>
        <h2>Connecting to ... ws://localhost:8081</h2>
        <p id="connector"></p>
        <script>cloudConnect(io)</script>
    </body>
</html>